In [1]:
#Importing libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.graph_objects as go
import plotly.express as px
import plotly.io as pio
pio.templates.default = "plotly_dark"
from plotly.subplots import make_subplots

# pd.options.display.max_columns = None
# pd.options.display.max_rows = None
pd.set_option('display.max_columns', None)
# pd.set_option('display.width', 1000)

In [2]:
#Importing datasets
df_covid = pd.read_csv("data/covid_19_clean_complete.csv")
df_country = pd.read_csv("data/country_wise_latest.csv")
df_day = pd.read_csv("data/day_wise.csv")
df_f_group = pd.read_csv("data/full_grouped.csv")
df_world = pd.read_csv("data/worldometer_data.csv")

In [16]:
all_dfs = [df_covid, df_country, df_day, df_f_group, df_world]
for df in all_dfs:
    print(f'{df.head()}')

  Province/State Country/Region       Lat       Long        Date  Confirmed  Deaths  Recovered  Active             WHO Region
0            NaN    Afghanistan  33.93911  67.709953  2020-01-22          0       0          0       0  Eastern Mediterranean
1            NaN        Albania  41.15330  20.168300  2020-01-22          0       0          0       0                 Europe
2            NaN        Algeria  28.03390   1.659600  2020-01-22          0       0          0       0                 Africa
3            NaN        Andorra  42.50630   1.521800  2020-01-22          0       0          0       0                 Europe
4            NaN         Angola -11.20270  17.873900  2020-01-22          0       0          0       0                 Africa
  Country/Region  Confirmed  Deaths  Recovered  Active  New cases  New deaths  New recovered  Deaths / 100 Cases  Recovered / 100 Cases  Deaths / 100 Recovered  Confirmed last week  1 week change  1 week % increase             WHO Region
0    Afghanistan      36263    1269      25198    9796        106          10             18                3.50                  69.49                    5.04                35526            737               2.07  Eastern Mediterranean
1        Albania       4880     144       2745    1991        117           6             63                2.95                  56.25                    5.25                 4171            709              17.00                 Europe
2        Algeria      27973    1163      18837    7973        616           8            749                4.16                  67.34                    6.17                23691           4282              18.07                 Africa
3        Andorra        907      52        803      52         10           0              0                5.73                  88.53                    6.48                  884             23               2.60                 Europe
4         Angola        950      41        242     667         18           1              0                4.32                  25.47                   16.94                  749            201              26.84                 Africa
         Date  Confirmed  Deaths  Recovered  Active  New cases  New deaths  New recovered  Deaths / 100 Cases  Recovered / 100 Cases  Deaths / 100 Recovered  No. of countries
0  2020-01-22        555      17         28     510          0           0              0                3.06                   5.05                   60.71                 6
1  2020-01-23        654      18         30     606         99           1              2                2.75                   4.59                   60.00                 8
2  2020-01-24        941      26         36     879        287           8              6                2.76                   3.83                   72.22                 9
3  2020-01-25       1434      42         39    1353        493          16              3                2.93                   2.72                  107.69                11
4  2020-01-26       2118      56         52    2010        684          14             13                2.64                   2.46                  107.69                13
         Date Country/Region  Confirmed  Deaths  Recovered  Active  New cases  New deaths  New recovered             WHO Region
0  2020-01-22    Afghanistan          0       0          0       0          0           0              0  Eastern Mediterranean
1  2020-01-22        Albania          0       0          0       0          0           0              0                 Europe
2  2020-01-22        Algeria          0       0          0       0          0           0              0                 Africa
3  2020-01-22        Andorra          0       0          0       0          0           0              0                 Europe
4  2020-01-22         Angola          0       0          0       0          0           0              0                 Africa
  Country/Region      Continent    Population  TotalCases  NewCases  TotalDeaths  NewDeaths  TotalRecovered  NewRecovered  ActiveCases  Serious,Critical  Tot Cases/1M pop  Deaths/1M pop  TotalTests  Tests/1M pop      WHO Region
0            USA  North America  3.311981e+08     5032179       NaN     162804.0        NaN       2576668.0           NaN    2292707.0           18296.0           15194.0          492.0  63139605.0      190640.0        Americas
1         Brazil  South America  2.127107e+08     2917562       NaN      98644.0        NaN       2047660.0           NaN     771258.0            8318.0           13716.0          464.0  13206188.0       62085.0        Americas
2          India           Asia  1.381345e+09     2025409       NaN      41638.0        NaN       1377384.0           NaN     606387.0            8944.0            1466.0           30.0  22149351.0       16035.0  South-EastAsia
3         Russia         Europe  1.459409e+08      871894       NaN      14606.0        NaN        676357.0           NaN     180931.0            2300.0            5974.0          100.0  29716907.0      203623.0          Europe
4   South Africa         Africa  5.938157e+07      538184       NaN       9604.0        NaN        387316.0           NaN     141264.0             539.0            9063.0          162.0   3149807.0       53044.0          Africa

In [ ]:
#df_covid.columns.tolist()

In [ ]:
df_covid['Province/State'] = df_covid['Province/State'].fillna('')

In [17]:
df_covid.head()

  Province/State Country/Region       Lat       Long        Date  Confirmed  Deaths  Recovered  Active             WHO Region
0            NaN    Afghanistan  33.93911  67.709953  2020-01-22          0       0          0       0  Eastern Mediterranean
1            NaN        Albania  41.15330  20.168300  2020-01-22          0       0          0       0                 Europe
2            NaN        Algeria  28.03390   1.659600  2020-01-22          0       0          0       0                 Africa
3            NaN        Andorra  42.50630   1.521800  2020-01-22          0       0          0       0                 Europe
4            NaN         Angola -11.20270  17.873900  2020-01-22          0       0          0       0                 Africa

In [22]:
#replace Province/State data if empty string with NaN
df_covid['Province/State'] = df_covid['Province/State'].replace('', np.nan)

In [23]:
df_covid.head(40)

                  Province/State          Country/Region        Lat        Long        Date  Confirmed  Deaths  Recovered  Active             WHO Region
0                            NaN             Afghanistan  33.939110   67.709953  2020-01-22          0       0          0       0  Eastern Mediterranean
1                            NaN                 Albania  41.153300   20.168300  2020-01-22          0       0          0       0                 Europe
2                            NaN                 Algeria  28.033900    1.659600  2020-01-22          0       0          0       0                 Africa
3                            NaN                 Andorra  42.506300    1.521800  2020-01-22          0       0          0       0                 Europe
4                            NaN                  Angola -11.202700   17.873900  2020-01-22          0       0          0       0                 Africa
5                            NaN     Antigua and Barbuda  17.060800  -61.796400  2020-01-22          0       0          0       0               Americas
6                            NaN               Argentina -38.416100  -63.616700  2020-01-22          0       0          0       0               Americas
7                            NaN                 Armenia  40.069100   45.038200  2020-01-22          0       0          0       0                 Europe
8   Australian Capital Territory               Australia -35.473500  149.012400  2020-01-22          0       0          0       0        Western Pacific
9                New South Wales               Australia -33.868800  151.209300  2020-01-22          0       0          0       0        Western Pacific
10            Northern Territory               Australia -12.463400  130.845600  2020-01-22          0       0          0       0        Western Pacific
11                    Queensland               Australia -27.469800  153.025100  2020-01-22          0       0          0       0        Western Pacific
12               South Australia               Australia -34.928500  138.600700  2020-01-22          0       0          0       0        Western Pacific
13                      Tasmania               Australia -42.882100  147.327200  2020-01-22          0       0          0       0        Western Pacific
14                      Victoria               Australia -37.813600  144.963100  2020-01-22          0       0          0       0        Western Pacific
15             Western Australia               Australia -31.950500  115.860500  2020-01-22          0       0          0       0        Western Pacific
16                           NaN                 Austria  47.516200   14.550100  2020-01-22          0       0          0       0                 Europe
17                           NaN              Azerbaijan  40.143100   47.576900  2020-01-22          0       0          0       0                 Europe
18                           NaN                 Bahamas  25.025885  -78.035889  2020-01-22          0       0          0       0               Americas
19                           NaN                 Bahrain  26.027500   50.550000  2020-01-22          0       0          0       0  Eastern Mediterranean
20                           NaN              Bangladesh  23.685000   90.356300  2020-01-22          0       0          0       0        South-East Asia
21                           NaN                Barbados  13.193900  -59.543200  2020-01-22          0       0          0       0               Americas
22                           NaN                 Belarus  53.709800   27.953400  2020-01-22          0       0          0       0                 Europe
23                           NaN                 Belgium  50.833300    4.469936  2020-01-22          0       0          0       0                 Europe
24                           NaN                   Benin   9.307700    2.315800  2020-01-22          0       0          0       0                 Africa
25                           NaN                  Bhutan  27.514200   90.433600  2020-01-22          0       0          0       0        South-East Asia
26                           NaN                 Bolivia -16.290200  -63.588700  2020-01-22          0       0          0       0               Americas
27                           NaN  Bosnia and Herzegovina  43.915900   17.679100  2020-01-22          0       0          0       0                 Europe
28                           NaN                  Brazil -14.235000  -51.925300  2020-01-22          0       0          0       0               Americas
29                           NaN                  Brunei   4.535300  114.727700  2020-01-22          0       0          0       0        Western Pacific
30                           NaN                Bulgaria  42.733900   25.485800  2020-01-22          0       0          0       0                 Europe
31                           NaN            Burkina Faso  12.238300   -1.561600  2020-01-22          0       0          0       0                 Africa
32                           NaN              Cabo Verde  16.538800  -23.041800  2020-01-22          0       0          0       0                 Africa
33                           NaN                Cambodia  11.550000  104.916700  2020-01-22          0       0          0       0        Western Pacific
34                           NaN                Cameroon   3.848000   11.502100  2020-01-22          0       0          0       0                 Africa
35                       Alberta                  Canada  53.933300 -116.576500  2020-01-22          0       0          0       0               Americas
36              British Columbia                  Canada  53.726700 -127.647600  2020-01-22          0       0          0       0               Americas
37                      Manitoba                  Canada  53.760900  -98.813900  2020-01-22          0       0          0       0               Americas
38                 New Brunswick                  Canada  46.565300  -66.461900  2020-01-22          0       0          0       0               Americas
39     Newfoundland and Labrador                  Canada  53.135500  -57.660400  2020-01-22          0       0          0       0               Americas

### Pre-processing

In [4]:
## Inspecting the shape 
df_covid.shape

(49068, 10)

In [5]:
df_covid.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49068 entries, 0 to 49067
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Province/State  14664 non-null  object
 1   Country/Region  49068 non-null  object
 2   Lat             49068 non-null  float64
 3   Long            49068 non-null  float64
 4   Date            49068 non-null  object
 5   Confirmed       49068 non-null  int64
 6   Deaths          49068 non-null  int64
 7   Recovered       49068 non-null  int64
 8   Active          49068 non-null  int64
 9   WHO Region      49068 non-null  object
dtypes: float64(2), int64(4), object(4)
memory usage: 3.7+ MB

In [6]:
df_covid.describe()

,Lat,Long,Confirmed,Deaths,Recovered,Active
count,49068.000000,49068.000000,4.906800e+04,49068.000000,4.906800e+04,4.906800e+04
mean,21.433730,23.528236,1.688490e+04,884.179160,7.915713e+03,8.085012e+03
std,24.950320,70.442740,1.273002e+05,6313.584411,5.480092e+04,7.625890e+04
min,-51.796300,-135.000000,0.000000e+00,0.000000,0.000000e+00,-1.400000e+01
25%,7.873054,-15.310100,4.000000e+00,0.000000,0.000000e+00,0.000000e+00
50%,23.634500,21.745300,1.680000e+02,2.000000,2.900000e+01,2.600000e+01
75%,41.204380,80.771797,1.518250e+03,30.000000,6.660000e+02,6.060000e+02
max,71.706900,178.065000,4.290259e+06,148011.000000,1.846641e+06,2.816444e+06

In [7]:
df_covid.isnull().sum()

Province/State    34404
Country/Region        0
Lat                   0
Long                  0
Date                  0
Confirmed             0
Deaths                0
Recovered             0
Active                0
WHO Region            0
dtype: int64